commands:
  01_generate_cert:
    command: |
      mkdir -p /etc/pki/tls/certs
      openssl req -x509 -nodes -days 3650 -newkey rsa:2048 \
        -keyout /etc/pki/tls/certs/server.key \
        -out /etc/pki/tls/certs/server.crt \
        -subj "/C=IN/ST=Maharashtra/L=Mumbai/O=App/CN=localhost"
    test: "[ ! -f /etc/pki/tls/certs/server.crt ]"

Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt": ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
